<%# app/views/routines/index.html.erb %>
<div class="min-h-screen bg-blue-100">
  <div class="container mx-auto px-4 py-6">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-10">Routines</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <% current_user.routines.each do |routine| %>
        <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
          <div class="card-body p-5">
            <h2 class="card-title text-xl font-semibold mb-3"><%= routine.name %></h2>
            <div class="card-actions justify-center">
              <%= link_to "Show this routine", routine, class: "inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="text-center mt-8">
      <%= link_to "New routine", new_routine_path, class: "inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
    </div>
  </div>
</div>
