<div class="hero-image">
  <%= image_tag('pastel-bathroom-tiles.jpg', alt: 'Pastel Bathroom Tiles') %>
  <div class="hero-text">
    <h1>Welcome to <span id="lineup">LineUp</span></h1>
    <p class=>Find your perfect product lineup here.</p>
  </div>

</div>



</div>
