<div class="flex-container" >
  <%= image_tag('bathroom-img.jpg', alt: 'Pastel Bathroom Tiles') %>
  <div class="hero-text" style="flex-direction: left;">
    <h1 style="color: #17617B;">Welcome to <span id="lineup" style="">LineUp</span></h1>
    <p class="hero-quote" style="color: #000000;">Find your perfect product lineup here.</p>
  </div>

</div>

<!--<div class="min-h-screen">
  reviews
</div>


<div class="min-h-screen">
  
</div>-->
