<div id="<%= dom_id product_ingredient %>">
  <p>
    <strong>Product:</strong>
    <%= product_ingredient.product_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= product_ingredient.ingredient_id %>
  </p>

</div>
