<h1>Editing product ingredient</h1>

<%= render "form", product_ingredient: @product_ingredient %>

<br>

<div>
  <%= link_to "Show this product ingredient", @product_ingredient %> |
  <%= link_to "Back to product ingredients", product_ingredients_path %>
</div>
