<div id="<%= dom_id routine_product %>">
  <p>
    <strong>Routine:</strong>
    <%= routine_product.routine_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= routine_product.product_id %>
  </p>

</div>
