<h1>Editing routine product</h1>

<%= render "form", routine_product: @routine_product %>

<br>

<div>
  <%= link_to "Show this routine product", @routine_product %> |
  <%= link_to "Back to routine products", routine_products_path %>
</div>
